
.container {
  min-height: 100vh;
  background: #f5f5f5;
}

.contentContainer {
  top: 64px;
  flex: auto;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
}

/* .content {
  flex: auto;
  display: flex;
  margin: 10px 20px;
  padding: 0px 80px;
  background: #fff;
  min-height: 280px;
  & > div {
    width: 100%;
  }
} */

/* .layoutSider {
  width: 200px;
  height: 100%;
  background: #fff;
  position: fixed; 
  position: relative;
} */
