

.header {
    top: 0;
    right: 0px;
    width: 100%;
    height: 64px;
    background: #fff;
    display: flex;
    justify-content: left;
}

.logo {
    left: 10px;
    height: 64px;
    line-height: 58px;
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 16px;
  }

  .logo img {
    display: inline-block;
    vertical-align: middle;
  }

  .trigger {
    font-size: 20px;
    line-height: 64px;
    width: 20px;
    cursor: pointer;
    transition: all 0.3s, padding 0s;
    padding: 0 10px;
  }
