
.header {
    top: 0;
    right: 0;
    width: 100%;
    height: 64px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    z-index: 9;
}

.logo {
    left: 0px;
    height: 64px;
    line-height: 58px;
    vertical-align: top;
    display: inline-block;
    /* margin-left: 10px; */
    padding: 10px 0px;
    cursor: pointer;
    font-size: 16px;
  }

.logo:img {
    display: inline-block;
    vertical-align: middle;
}

.search {
  height: 100%;
  vertical-align: top;
  display: inline-block;
  padding: 10px 200px;
}

.search:hover {
  background: transparent;
}

.trigger {
    font-size: 20px;
    line-height: 64px;
    width: 20px;
    cursor: pointer;
    transition: all 0.3s, padding 0s;
    padding: 0 10px;
}

.account {
  float: right;
  height: 100%;
}
