.root {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio {
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 100%;
}

.input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

.label {
    margin-left: 12px;
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}
